# Cleaning of Raw Data:

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv(r"/Users/hargunrana/Desktop/project_data.csv")

In [3]:
df.head(2)

,Timestamp,Who Are you ?,Department:,Semester:,Section(if any):,Gender,Age,"Height (In Feet and Inches, Example: 5.11 )","Weight (In Kg, Example: 68 )",Favorite Sport:,Activity Level:,Your CURRENT Body-type According to you:,"On an Average, how many Meals do you take in a day:","On an Average, How many hours do you sleep?",Where do you see your body in the coming times i.e your GOAL (Your DESIRED body type you wish to achieve):
0,2021/02/11 1:18:16 PM GMT+5:30,NaN,CSE,6th,A,Male,21,6 feet,68kg,Gym,High moderate (Moderate exercise 3-5 times pe...,Fit,5 or more,6,Get FIT
1,2021/02/15 3:33:07 PM GMT+5:30,Faculty,CSE,NaN,NONE,Male,36,5.9,71,Football,Low (little or no exercise),Fit,2,5 or less,Get FIT

# Handling the Attribute names:

In [4]:
df=df.drop(['Timestamp'],axis=1)

In [5]:
df.columns

Index(['Who Are you ?', 'Department:', 'Semester:', 'Section(if any):',
       'Gender', 'Age', 'Height (In Feet and Inches, Example: 5.11 )',
       'Weight (In Kg, Example: 68 )', 'Favorite Sport:', 'Activity Level:',
       'Your CURRENT Body-type According to you:',
       'On an Average, how many Meals do you take in a day:',
       'On an Average, How many hours do you sleep?',
       'Where do you see your body in the coming times i.e your GOAL (Your DESIRED body type you wish to achieve):'],
      dtype='object')

In [6]:
df=df.rename(columns={'Who Are you ?':'type', 'Department:':'department', 'Semester:':'semester', 'Section(if any):':'section',
       'Gender':'gender', 'Age':'age',
       'Height (In Feet and Inches, Example: 5.11 )':'height',
       'Weight (In Kg, Example: 68 )':'weight', 'Favorite Sport:':'fav_sport', 'Activity Level:':'act_level',
       'Your CURRENT Body-type According to you:':"current_btype",
       'On an Average, how many Meals do you take in a day:':'meals',
       'On an Average, How many hours do you sleep?':'sleep',
       'Where do you see your body in the coming times i.e your GOAL (Your DESIRED body type you wish to achieve):':'goal'})

In [7]:
df.head()

,type,department,semester,section,gender,age,height,weight,fav_sport,act_level,current_btype,meals,sleep,goal
0,NaN,CSE,6th,A,Male,21,6 feet,68kg,Gym,High moderate (Moderate exercise 3-5 times pe...,Fit,5 or more,6,Get FIT
1,Faculty,CSE,NaN,NONE,Male,36,5.9,71,Football,Low (little or no exercise),Fit,2,5 or less,Get FIT
2,Student,CSE,6th,NONE,Male,25,5 feet 11 inches,52,Volleyball,Low (little or no exercise),SKINNY,4,6,Gain-weight
3,Student,CSE,6th,A,Male,21,5 Feet 11 inches,60 kg,Cricket,moderate (light exercise sport 1-3 times per w...,SKINNY,3,6,Gain-weight
4,Student,CSE,6th,NONE,Female,20,5 feet 2 inches,30,Racing,moderate (light exercise sport 1-3 times per w...,Fit,3,7,Get FIT

# Handling unique values of `act_level` Attribute:

In [8]:
df["act_level"].unique()

array(['High  moderate (Moderate exercise 3-5 times per week',
       'Low (little or no exercise)',
       'moderate (light exercise sport 1-3 times per week)',
       'Very High ( Intense exercise 6-7 days per week)',
       'hyperactive ( Very intense exercise physical work, 2 hours or more in sports'],
      dtype=object)

In [9]:
act_level_dict={'High  moderate (Moderate exercise 3-5 times per week':'high moderate',
                 'Low (little or no exercise)':'low',
                 'moderate (light exercise sport 1-3 times per week)':'moderate',
                'Very High ( Intense exercise 6-7 days per week)':'very high',
                'hyperactive ( Very intense exercise physical work, 2 hours or more in sports':'hypteractive'}
df['act_level'] = df['act_level'].replace( act_level_dict )

In [10]:
df.head()

,type,department,semester,section,gender,age,height,weight,fav_sport,act_level,current_btype,meals,sleep,goal
0,NaN,CSE,6th,A,Male,21,6 feet,68kg,Gym,high moderate,Fit,5 or more,6,Get FIT
1,Faculty,CSE,NaN,NONE,Male,36,5.9,71,Football,low,Fit,2,5 or less,Get FIT
2,Student,CSE,6th,NONE,Male,25,5 feet 11 inches,52,Volleyball,low,SKINNY,4,6,Gain-weight
3,Student,CSE,6th,A,Male,21,5 Feet 11 inches,60 kg,Cricket,moderate,SKINNY,3,6,Gain-weight
4,Student,CSE,6th,NONE,Female,20,5 feet 2 inches,30,Racing,moderate,Fit,3,7,Get FIT

In [11]:
df.isnull().sum()

type              1
department        0
semester         40
section           0
gender            0
age               0
height            0
weight            0
fav_sport         0
act_level         0
current_btype     0
meals             0
sleep             0
goal              0
dtype: int64

# Cleaning `weight` Attribute:

In [12]:
df['weight'][135]= "58"
df['height'][135]= "5'10"
df['weight'][146]= "58"
df['height'][146]= "5'10"
df['weight'][148]= "58"
df['height'][148]= "5'10"

In [13]:
df['weight'].isnull().sum()

0

In [14]:
# Extract num from string:
df['weight']=df['weight'].str.extract('(\d+)').astype(int)

In [15]:
df['meals']=df['meals'].replace({'5 or more':5,'NONE':0}).astype(int)

In [16]:
df['sleep']=df['sleep'].replace({'5 or less':5}).astype(int)

# Cleaning `current_btype` Attribute:

In [17]:
df["current_btype"]=df["current_btype"].replace({'Fit':'fit',
                                                 'SKINNY':'skinny',
                                                 'WEAK':'weak',
                                                 'FAT':'fat',
                                                 'Fit but also FAT':'fit but also fat'})

# Cleaning `age` Attribute:

In [18]:
df['age'][51]='17'

In [19]:
df['age'][80]='19'

In [20]:
df.age=df.age.astype(int)

In [21]:
df.age.dtype

dtype('int64')

In [22]:
df.head()

,type,department,semester,section,gender,age,height,weight,fav_sport,act_level,current_btype,meals,sleep,goal
0,NaN,CSE,6th,A,Male,21,6 feet,68,Gym,high moderate,fit,5,6,Get FIT
1,Faculty,CSE,NaN,NONE,Male,36,5.9,71,Football,low,fit,2,5,Get FIT
2,Student,CSE,6th,NONE,Male,25,5 feet 11 inches,52,Volleyball,low,skinny,4,6,Gain-weight
3,Student,CSE,6th,A,Male,21,5 Feet 11 inches,60,Cricket,moderate,skinny,3,6,Gain-weight
4,Student,CSE,6th,NONE,Female,20,5 feet 2 inches,30,Racing,moderate,fit,3,7,Get FIT

# xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Cleaning `height` Attribute:
height with feet and inches stored in `d_height_f` Object<br>
height without them stored in `d_height_num` Object

In [23]:
df.height.unique()

array(['6 feet', '5.9 ', '5 feet 11 inches', '5 Feet 11 inches',
       '5 feet 2 inches', '5.4', '5 feet 4 inches', '5 feet 7 inches',
       '5 feet 6 inches', '5 Feet 10 inches', '5feet 2inch',
       '6 feet 3 inches', '5feet4inch', '5 Feet 9inches',
       '5 Feet 1 inches ', '4 Feet 6 inches', '5 Feet', '5 Feet 4 inches',
       '6 feet 3 inch', '5feet 6inches', '5feet 2inches', '6 feet 1inche',
       '5 feet 4 inch', '5.5', '5feet', '5feet 11inches', '5 feet',
       '5 Feet 9 inches', "6'1", '5 feet 5 inches ', '4 feet 9 inches',
       '53', '5 feet 8 inches', '5 feet 1 inches', '5 feet 6inches',
       '5\'11"', '5’3”', '5Feed9inches', '5 Feet 2 inches',
       '5 Feet 3 inches', '5 feet 5 inch', '5feet 10inches ',
       '5 feet 8 inches approximately ', '5 Feet 8 inches',
       '5 feet 9 inches', '5feet 7inch', '5feet 8 inch',
       '5 feet 11inches', '5 feet 4.5 inches ', "5'4", '5 Feet 5 inches',
       '5 Feet 2 Inches', '5feet5inch', '5 Feet 4 inch ', '5 feet 2 inch',
       '5feet2inches', '5:4', '5feet 8 inches', '5 feet 7 inch',
       '5 Feet 7 inches', '5 feet 6 ', '5.6', '5 Feet 1 inch', "5'1",
       '5\'7"', '5 feet 8 inches ', '5 Feet 6 inches', '5\' 8"',
       '5feet 8 inches ', '6 feer ', '6', '5 Feet 8', '5 Feet 4 Inches',
       '5 feet 1 inch', '5 feet 10 inches', '5feet9inches', '5"6',
       '5 feet 2inches', "5'10", '5 feet 9 inch', '5 7', "6'",
       '5 feet 7 ', '5ft 8inch ', '5feet7inch', '5\'5"', '5 feet 8 inch',
       '6 Feet 3 inches', '5feet 10 inches', '5feet 9inches',
       '5feet 7 inch', '6 ft 1 inch', '6 Feet 1 inches', '6.00', '5.2',
       '5.07', '5', '5.9', '5.10', '4.9', '5.1', '6.1', '5.7', '5.0',
       '6.2'], dtype=object)

In [24]:
d_height_f=df[(df['height'].str.contains('feet')) | (df['height'].str.contains('Feet'))]

In [25]:
d_height_f

,type,department,semester,section,gender,age,height,weight,fav_sport,act_level,current_btype,meals,sleep,goal
0,NaN,CSE,6th,A,Male,21,6 feet,68,Gym,high moderate,fit,5,6,Get FIT
2,Student,CSE,6th,NONE,Male,25,5 feet 11 inches,52,Volleyball,low,skinny,4,6,Gain-weight
3,Student,CSE,6th,A,Male,21,5 Feet 11 inches,60,Cricket,moderate,skinny,3,6,Gain-weight
4,Student,CSE,6th,NONE,Female,20,5 feet 2 inches,30,Racing,moderate,fit,3,7,Get FIT
6,Student,CSE,6th,A,Male,20,5 feet 4 inches,50,None,low,weak,5,8,Gain-weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,Student,CE,6th,NONE,Male,20,5 feet 8 inches,68,Cricket,high moderate,fit but also fat,4,8,Gain-weight
131,Student,CE,6th,A,Male,19,6 Feet 1 inches,60,Cricket,high moderate,fit,3,8,Gain-weight
132,Student,ME,8th,NONE,Male,20,6 feet,67,Volleyball,very high,fit,4,8,Get FIT
133,Student,ME,8th,NONE,Male,21,5 feet 8 inches,52,Cricket,high moderate,fit,3,7,Gain-weight
134,Student,CE,6th,NONE,Male,21,5feet 9inches,75,Gym,high moderate,fit but also fat,3,7,Get FIT

In [26]:
d_height_num= df[(~df['height'].str.contains('feet')) & (~df['height'].str.contains('Feet'))]

In [27]:
d_height_num.head()

,type,department,semester,section,gender,age,height,weight,fav_sport,act_level,current_btype,meals,sleep,goal
1,Faculty,CSE,NaN,NONE,Male,36,5.9,71,Football,low,fit,2,5,Get FIT
5,Student,CSE,6th,B,Male,22,5.4,62,Cricket,moderate,fit,3,7,Get FIT
24,Faculty,ECE,NaN,NONE,Female,39,5.5,69,Cricket,low,fit but also fat,3,6,Get FIT
29,Student,CSE,4th,NONE,Male,19,6'1,90,Cricket,moderate,fit but also fat,3,6,Lose-Weight
35,Faculty,CSE,NaN,NONE,Female,43,53,93,Chess,moderate,fat,2,5,Get FIT

In [28]:
d_height_f.head()

,type,department,semester,section,gender,age,height,weight,fav_sport,act_level,current_btype,meals,sleep,goal
0,NaN,CSE,6th,A,Male,21,6 feet,68,Gym,high moderate,fit,5,6,Get FIT
2,Student,CSE,6th,NONE,Male,25,5 feet 11 inches,52,Volleyball,low,skinny,4,6,Gain-weight
3,Student,CSE,6th,A,Male,21,5 Feet 11 inches,60,Cricket,moderate,skinny,3,6,Gain-weight
4,Student,CSE,6th,NONE,Female,20,5 feet 2 inches,30,Racing,moderate,fit,3,7,Get FIT
6,Student,CSE,6th,A,Male,20,5 feet 4 inches,50,None,low,weak,5,8,Gain-weight

In [29]:
d_height_f.height.unique()

array(['6 feet', '5 feet 11 inches', '5 Feet 11 inches',
       '5 feet 2 inches', '5 feet 4 inches', '5 feet 7 inches',
       '5 feet 6 inches', '5 Feet 10 inches', '5feet 2inch',
       '6 feet 3 inches', '5feet4inch', '5 Feet 9inches',
       '5 Feet 1 inches ', '4 Feet 6 inches', '5 Feet', '5 Feet 4 inches',
       '6 feet 3 inch', '5feet 6inches', '5feet 2inches', '6 feet 1inche',
       '5 feet 4 inch', '5feet', '5feet 11inches', '5 feet',
       '5 Feet 9 inches', '5 feet 5 inches ', '4 feet 9 inches',
       '5 feet 8 inches', '5 feet 1 inches', '5 feet 6inches',
       '5 Feet 2 inches', '5 Feet 3 inches', '5 feet 5 inch',
       '5feet 10inches ', '5 feet 8 inches approximately ',
       '5 Feet 8 inches', '5 feet 9 inches', '5feet 7inch',
       '5feet 8 inch', '5 feet 11inches', '5 feet 4.5 inches ',
       '5 Feet 5 inches', '5 Feet 2 Inches', '5feet5inch',
       '5 Feet 4 inch ', '5 feet 2 inch', '5feet2inches',
       '5feet 8 inches', '5 feet 7 inch', '5 Feet 7 inches', '5 feet 6 ',
       '5 Feet 1 inch', '5 feet 8 inches ', '5 Feet 6 inches',
       '5feet 8 inches ', '5 Feet 8', '5 Feet 4 Inches', '5 feet 1 inch',
       '5 feet 10 inches', '5feet9inches', '5 feet 2inches',
       '5 feet 9 inch', '5 feet 7 ', '5feet7inch', '5 feet 8 inch',
       '6 Feet 3 inches', '5feet 10 inches', '5feet 9inches',
       '5feet 7 inch', '6 Feet 1 inches'], dtype=object)

In [30]:
d_height_f['height']=d_height_f['height'].str.replace("feet"," ")

d_height_f['height']=d_height_f['height'].str.replace("Feet"," ")

d_height_f['height']=d_height_f['height'].str.replace("Inches"," ")

d_height_f['height']=d_height_f['height'].str.replace("inches"," ")

d_height_f['height']=d_height_f['height'].str.replace("inch"," ")

d_height_f['height']=d_height_f['height'].str.replace("approximately"," ")

### Removed the alphabets:

In [31]:
d_height_f.height.unique()

array(['6  ', '5   11  ', '5   2  ', '5   4  ', '5   7  ', '5   6  ',
       '5   10  ', '5  2 ', '6   3  ', '5 4 ', '5   9 ', '5   1   ',
       '4   6  ', '5  ', '5  6 ', '6   1 e', '5 ', '5  11 ', '5   9  ',
       '5   5   ', '4   9  ', '5   8  ', '5   1  ', '5   6 ', '5   3  ',
       '5   5  ', '5  10  ', '5   8     ', '5  7 ', '5  8  ', '5   11 ',
       '5   4.5   ', '5 5 ', '5   4   ', '5 2 ', '5   8   ', '5  8   ',
       '5   8', '5 9 ', '5   2 ', '5   7 ', '5 7 ', '5  9 ', '5  7  ',
       '6   1  '], dtype=object)

### Cleaning and Evaluting the values:

In [32]:
index=d_height_f.index

In [33]:
index=list(index)

In [34]:
index[0:4]

[0, 2, 3, 4]

In [35]:
for i in index:
    s = d_height_f['height'][i]
    d_height_f['height'][i] = s[0] + "*12+" +  s[1:-1]

In [36]:
d_height_f.height.unique()

array(['6*12+ ', '5*12+   11 ', '5*12+   2 ', '5*12+   4 ', '5*12+   7 ',
       '5*12+   6 ', '5*12+   10 ', '5*12+  2', '6*12+   3 ', '5*12+ 4',
       '5*12+   9', '5*12+   1  ', '4*12+   6 ', '5*12+ ', '5*12+  6',
       '6*12+   1 ', '5*12+', '5*12+  11', '5*12+   9 ', '5*12+   5  ',
       '4*12+   9 ', '5*12+   8 ', '5*12+   1 ', '5*12+   6',
       '5*12+   3 ', '5*12+   5 ', '5*12+  10 ', '5*12+   8    ',
       '5*12+  7', '5*12+  8 ', '5*12+   11', '5*12+   4.5  ', '5*12+ 5',
       '5*12+   4  ', '5*12+ 2', '5*12+   8  ', '5*12+  8  ', '5*12+   ',
       '5*12+ 9', '5*12+   2', '5*12+   7', '5*12+ 7', '5*12+  9',
       '5*12+  7 '], dtype=object)

In [37]:
d_height_f["height"][d_height_f['height']=='6*12+ ']= '6*12'

d_height_f["height"][d_height_f['height']=='5*12+ ']= '5*12'

d_height_f["height"][d_height_f['height']=='5*12+']= '5*12'

d_height_f["height"][d_height_f['height']=='5*12+   ']= '5*12'

x=d_height_f["height"]

In [38]:
x=list(x)

In [39]:
for i in index:
    s=d_height_f["height"][i]
    d_height_f["height"][i]=eval(s)

### Converting to int datatype:

In [40]:
d_height_f.height=d_height_f.height.astype(int)

In [41]:
d_height_f.height.dtype

dtype('int64')

In [42]:
d_height_f.height=d_height_f.height*2.54

## Done with d_height_f  height in cm

In [43]:
d_height_f

,type,department,semester,section,gender,age,height,weight,fav_sport,act_level,current_btype,meals,sleep,goal
0,NaN,CSE,6th,A,Male,21,182.88,68,Gym,high moderate,fit,5,6,Get FIT
2,Student,CSE,6th,NONE,Male,25,180.34,52,Volleyball,low,skinny,4,6,Gain-weight
3,Student,CSE,6th,A,Male,21,180.34,60,Cricket,moderate,skinny,3,6,Gain-weight
4,Student,CSE,6th,NONE,Female,20,157.48,30,Racing,moderate,fit,3,7,Get FIT
6,Student,CSE,6th,A,Male,20,162.56,50,None,low,weak,5,8,Gain-weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,Student,CE,6th,NONE,Male,20,172.72,68,Cricket,high moderate,fit but also fat,4,8,Gain-weight
131,Student,CE,6th,A,Male,19,185.42,60,Cricket,high moderate,fit,3,8,Gain-weight
132,Student,ME,8th,NONE,Male,20,182.88,67,Volleyball,very high,fit,4,8,Get FIT
133,Student,ME,8th,NONE,Male,21,172.72,52,Cricket,high moderate,fit,3,7,Gain-weight
134,Student,CE,6th,NONE,Male,21,175.26,75,Gym,high moderate,fit but also fat,3,7,Get FIT

### now d_height_num

In [44]:
d_height_num

,type,department,semester,section,gender,age,height,weight,fav_sport,act_level,current_btype,meals,sleep,goal
1,Faculty,CSE,NaN,NONE,Male,36,5.9,71,Football,low,fit,2,5,Get FIT
5,Student,CSE,6th,B,Male,22,5.4,62,Cricket,moderate,fit,3,7,Get FIT
24,Faculty,ECE,NaN,NONE,Female,39,5.5,69,Cricket,low,fit but also fat,3,6,Get FIT
29,Student,CSE,4th,NONE,Male,19,6'1,90,Cricket,moderate,fit but also fat,3,6,Lose-Weight
35,Faculty,CSE,NaN,NONE,Female,43,53,93,Chess,moderate,fat,2,5,Get FIT
43,Student,CSE,6th,B,Male,20,"5'11""",58,Cricket,moderate,skinny,2,6,Gain-weight
44,Student,CSE,6th,B,Female,21,5’3”,42,Gym,very high,skinny,3,8,Gain-weight
45,Student,CSE,6th,A,Male,21,5Feed9inches,73,Gym,very high,fit but also fat,2,7,Lose-Weight
58,Student,CSE,NaN,NONE,Male,18,5.5,60,Cricket,moderate,weak,5,6,Get FIT
61,Student,CSE,NaN,NONE,Male,19,5'4,70,Badminton,low,fat,3,6,Get FIT
73,Student,CSE,NaN,NONE,Male,19,5:4,72,Cricket,low,fit,2,8,Get FIT
78,Student,CSE,NaN,NONE,Male,17,5.6,53,Cricket,moderate,fit,3,6,Gain-weight
80,Student,CSE,2nd,NONE,Female,19,5'1,45,Badminton,low,fit,3,8,Gain-weight
81,Student,CSE,6th,B,Male,20,"5'7""",73,Gym,low,fit,3,8,Get FIT
82,Student,CSE,6th,A,Female,21,5.4,50,Gym,low,fat,4,8,Lose-Weight
87,Student,ME,8th,A,Male,23,"5' 8""",60,Cricket,moderate,fit,3,7,Gain-weight
89,Faculty,ME,NaN,NONE,Male,32,6 feer,89,Cricket,moderate,fit but also fat,4,8,Get FIT
94,Student,CSE,2nd,NONE,Male,17,6,65,Cricket,very high,fit,2,6,Get FIT
104,Student,CSE,8th,NONE,Female,23,"5""6",65,Basketball,high moderate,fit but also fat,3,8,Get FIT
107,Student,ME,4th,NONE,Male,18,5'10,58,Cricket,moderate,fit,2,6,Get FIT
110,Student,CSE,8th,NONE,Male,22,5 7,74,Gym,very high,fit but also fat,3,6,Get FIT
111,Student,CE,8th,NONE,Male,20,6',85,Volleyball,moderate,fat,3,7,Lose-Weight
113,Student,CE,8th,NONE,Male,21,5ft 8inch,52,Badminton,moderate,skinny,3,8,Gain-weight
116,Student,CSE,6th,A,Male,21,"5'5""",60,Cricket,low,fit,3,8,Gain-weight
126,Student,CSE,8th,NONE,Male,23,6 ft 1 inch,83,Basketball,very high,fit,5,6,Gain-weight
128,Student,CE,6th,NONE,Male,21,"5'7""",60,Volleyball,moderate,skinny,4,8,Get FIT
129,Student,CE,6th,NONE,Male,21,6,68,Gym,very high,fit,5,8,Gain-weight
135,Student,CSE,4th,NONE,Male,20,5'10,58,Pubg,low,skinny,3,7,Gain-weight
136,Student,CSE,4th,B,Male,21,6.00,65,Gym,moderate,fit but also fat,3,7,Get FIT
137,Student,CSE,6th,A,Female,21,5.2,46,Football,low,fit but also fat,2,8,Get FIT
138,Student,CSE,6th,A,Female,19,5.2,67,Football,low,fat,3,8,Gain-weight
139,Student,CSE,6th,A,Female,20,5.07,40,Cricket,high moderate,skinny,4,8,Gain-weight
140,Student,CSE,6th,A,Female,20,5,40,Basketball,moderate,fit but also fat,3,7,Lose-Weight
141,Student,CSE,4th,NONE,Male,19,5.9,64,BadMinton,low,fit but also fat,2,7,Get FIT
142,Faculty,CE,NaN,NONE,Male,29,5.10,85,Football,moderate,fit but also fat,3,6,Get FIT
143,Faculty,AS (for faculty),NaN,NONE,Female,31,5.6,65,Basketball,low,fit but also fat,2,7,Lose-Weight
144,Student,ECE,6th,NONE,Female,21,4.9,34,Volleyball,low,skinny,2,7,Get FIT
145,Student,ECE,6th,NONE,Female,20,5.5,45,Cricket,hypteractive,fit,3,6,Get FIT
146,Student,CSE,4th,NONE,Female,18,5'10,58,Gym,high moderate,fit but also fat,4,8,Get FIT
147,Student,ME,4th,NONE,Male,20,6,65,Cricket,moderate,weak,3,6,Get FIT
148,Student,ECE,6th,NONE,Male,29,5'10,58,Chess,moderate,fit but also fat,3,6,Get FIT
149,Student,CE,4th,NONE,Male,19,5.5,56,Kabaddi,high moderate,fit but also fat,3,7,Get FIT
150,Student,CE,4th,NONE,Male,22,6.00,80,Gym,low,fit but also fat,2,8,Lose-Weight
151,Student,CE,4th,NONE,Male,19,5.9,56,Football,moderate,skinny,3,8,Get FIT
152,Student,ECE,6th,NONE,Female,21,5.1,35,Cricket,moderate,skinny,3,8,Get FIT
153,Student,CE,4th,NONE,Male,22,6.1,55,Basketball,low,skinny,3,5,Gain-weight
154,Student,CE,4th,NONE,Male,18,5.7,50,Cricket,moderate,skinny,3,7,Get FIT
155,Faculty,ECE,NaN,NONE,Female,33,5.1,65,Bedminton,moderate,fit but also fat,3,6,Get FIT
156,Student,CSE,6th,A,Female,22,5.0,69,Cricket,moderate,fat,2,7,Lose-Weight
157,Faculty,CSE,NaN,NONE,Male,40,5.10,83,Badminton,very high,fit but also fat,2,6,Lose-Weight
158,Faculty,CSE,NaN,NONE,Male,33,5.9,59,Football,low,fit,3,8,Get FIT
159,Student,CSE,6th,B,Male,21,6.2,76,Cricket,moderate,fit,3,5,Get FIT
160,Student,CSE,6th,NONE,Male,19,5.10,66,Cricket,very high,fit,3,7,Get FIT
161,Student,CSE,4th,NONE,Male,20,5.5,55,Cricket,moderate,skinny,3,6,Gain-weight
162,Student,CSE,4th,A,Male,20,6.1,55,Cricket,low,skinny,3,7,Get FIT

In [45]:
d_height_num.height=d_height_num.height.str.replace('.','*12+')
d_height_num.height=d_height_num.height.str.replace("'","*12+")
d_height_num.height=d_height_num.height.str.replace("'","*12+")

In [46]:
d_height_num.height=d_height_num.height.str.replace('"',"")

In [47]:
d_height_num.height.unique()

array(['5*12+9 ', '5*12+4', '5*12+5', '6*12+1', '53', '5*12+11', '5’3”',
       '5Feed9inches', '5:4', '5*12+6', '5*12+1', '5*12+7', '5*12+ 8',
       '6 feer ', '6', '56', '5*12+10', '5 7', '6*12+', '5ft 8inch ',
       '6 ft 1 inch', '6*12+00', '5*12+2', '5*12+07', '5', '5*12+9',
       '4*12+9', '5*12+0', '6*12+2'], dtype=object)

In [48]:
d_height_num['height'][d_height_num['height']=='5Feed9inches']='5*12+9'

d_height_num['height'][d_height_num['height']=='53']='5*12+3'

d_height_num['height'][d_height_num['height']=='5’3”']='5*12+3'

d_height_num['height'][d_height_num['height']=='5:4']='5*12+4'

d_height_num['height'][d_height_num['height']=='6 feer ']='6*12'

d_height_num['height'][d_height_num['height']=='6']='6*12'

d_height_num['height'][d_height_num['height']=='5']='5*12'

d_height_num['height'][d_height_num['height']=='5"6']='5*12+6'

d_height_num['height'][d_height_num['height']=='5 7']='5*12+7'

d_height_num['height'][d_height_num['height']=='5ft 8inch ']='5*12+8'

d_height_num['height'][d_height_num['height']=='6 ft 1 inch']='6*12+1'




d_height_num['height'][d_height_num['height']=='5*12+07']='5*12+7'

d_height_num['height'][d_height_num['height']=='6*12+']='6*12'

d_height_num['height'][d_height_num['height']=='6*12+00']='6*12'

In [52]:
d_height_num['height'].unique()

array(['5*12+9 ', '5*12+4', '5*12+5', '6*12+1', '5*12+3', '5*12+11',
       '5*12+9', '5*12+6', '5*12+1', '5*12+7', '5*12+ 8', '6*12', '56',
       '5*12+10', '5*12+8', '5*12+2', '5*12', '4*12+9', '5*12+0',
       '6*12+2'], dtype=object)

In [53]:
index=d_height_num.index

In [54]:
index=list(index)

In [55]:
index[0:4]

[1, 5, 24, 29]

In [56]:
for i in index:
    s=d_height_num["height"][i]
    d_height_num["height"][i]=eval(s)

##### convert to CM:

In [57]:
d_height_num.height.dtype

dtype('O')

In [58]:
d_height_num.height=d_height_num.height.astype(int)

In [59]:
d_height_num.height.dtype

dtype('int64')

In [60]:
d_height_num.height=d_height_num.height*2.54

In [61]:
d_height_num.head()

,type,department,semester,section,gender,age,height,weight,fav_sport,act_level,current_btype,meals,sleep,goal
1,Faculty,CSE,NaN,NONE,Male,36,175.26,71,Football,low,fit,2,5,Get FIT
5,Student,CSE,6th,B,Male,22,162.56,62,Cricket,moderate,fit,3,7,Get FIT
24,Faculty,ECE,NaN,NONE,Female,39,165.10,69,Cricket,low,fit but also fat,3,6,Get FIT
29,Student,CSE,4th,NONE,Male,19,185.42,90,Cricket,moderate,fit but also fat,3,6,Lose-Weight
35,Faculty,CSE,NaN,NONE,Female,43,160.02,93,Chess,moderate,fat,2,5,Get FIT

# Final Check and merging to make a final clean dataset:

In [62]:
d_height_num.shape

(55, 14)

In [63]:
d_height_f.shape

(108, 14)

In [64]:
108+55

163

In [65]:
df.head(2)

,type,department,semester,section,gender,age,height,weight,fav_sport,act_level,current_btype,meals,sleep,goal
0,NaN,CSE,6th,A,Male,21,6 feet,68,Gym,high moderate,fit,5,6,Get FIT
1,Faculty,CSE,NaN,NONE,Male,36,5.9,71,Football,low,fit,2,5,Get FIT

In [66]:
df.shape

(163, 14)

In [67]:

final_df=pd.concat([d_height_f, d_height_num], axis=0)
final_df

,type,department,semester,section,gender,age,height,weight,fav_sport,act_level,current_btype,meals,sleep,goal
0,NaN,CSE,6th,A,Male,21,182.88,68,Gym,high moderate,fit,5,6,Get FIT
2,Student,CSE,6th,NONE,Male,25,180.34,52,Volleyball,low,skinny,4,6,Gain-weight
3,Student,CSE,6th,A,Male,21,180.34,60,Cricket,moderate,skinny,3,6,Gain-weight
4,Student,CSE,6th,NONE,Female,20,157.48,30,Racing,moderate,fit,3,7,Get FIT
6,Student,CSE,6th,A,Male,20,162.56,50,None,low,weak,5,8,Gain-weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,Faculty,CSE,NaN,NONE,Male,33,175.26,59,Football,low,fit,3,8,Get FIT
159,Student,CSE,6th,B,Male,21,187.96,76,Cricket,moderate,fit,3,5,Get FIT
160,Student,CSE,6th,NONE,Male,19,177.80,66,Cricket,very high,fit,3,7,Get FIT
161,Student,CSE,4th,NONE,Male,20,165.10,55,Cricket,moderate,skinny,3,6,Gain-weight
162,Student,CSE,4th,A,Male,20,185.42,55,Cricket,low,skinny,3,7,Get FIT

In [68]:
final_df=final_df.sort_index()

In [69]:
final_df.head()

,type,department,semester,section,gender,age,height,weight,fav_sport,act_level,current_btype,meals,sleep,goal
0,NaN,CSE,6th,A,Male,21,182.88,68,Gym,high moderate,fit,5,6,Get FIT
1,Faculty,CSE,NaN,NONE,Male,36,175.26,71,Football,low,fit,2,5,Get FIT
2,Student,CSE,6th,NONE,Male,25,180.34,52,Volleyball,low,skinny,4,6,Gain-weight
3,Student,CSE,6th,A,Male,21,180.34,60,Cricket,moderate,skinny,3,6,Gain-weight
4,Student,CSE,6th,NONE,Female,20,157.48,30,Racing,moderate,fit,3,7,Get FIT

In [70]:
final_df.dtypes

type              object
department        object
semester          object
section           object
gender            object
age                int64
height           float64
weight             int64
fav_sport         object
act_level         object
current_btype     object
meals              int64
sleep              int64
goal              object
dtype: object

In [71]:
final_df.height=final_df['height']/100

In [72]:
final_df

,type,department,semester,section,gender,age,height,weight,fav_sport,act_level,current_btype,meals,sleep,goal
0,NaN,CSE,6th,A,Male,21,1.8288,68,Gym,high moderate,fit,5,6,Get FIT
1,Faculty,CSE,NaN,NONE,Male,36,1.7526,71,Football,low,fit,2,5,Get FIT
2,Student,CSE,6th,NONE,Male,25,1.8034,52,Volleyball,low,skinny,4,6,Gain-weight
3,Student,CSE,6th,A,Male,21,1.8034,60,Cricket,moderate,skinny,3,6,Gain-weight
4,Student,CSE,6th,NONE,Female,20,1.5748,30,Racing,moderate,fit,3,7,Get FIT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,Faculty,CSE,NaN,NONE,Male,33,1.7526,59,Football,low,fit,3,8,Get FIT
159,Student,CSE,6th,B,Male,21,1.8796,76,Cricket,moderate,fit,3,5,Get FIT
160,Student,CSE,6th,NONE,Male,19,1.7780,66,Cricket,very high,fit,3,7,Get FIT
161,Student,CSE,4th,NONE,Male,20,1.6510,55,Cricket,moderate,skinny,3,6,Gain-weight
162,Student,CSE,4th,A,Male,20,1.8542,55,Cricket,low,skinny,3,7,Get FIT

# Saving the Clean dataset .csv file:

In [73]:
final_df.to_csv('final_dataset.csv')